{% extends 'base.html.twig' %}

{% block body %}
<section id="about">
    <div class="row">
        <div class="columns medium-22 medium-offset-1 aligncenter">
            <p>about!</p>
        </div>
    </div>
</section>
{% endblock %}