{% extends 'base.html.twig' %}

{% block body %}
<section id="main" class="aligncenter">
    <div class="row" style="height: 100%;position:relative;">
        <h1>Quality Construction Guaranteed</h1>
    </div>
</section>
{% endblock %}