{% extends 'base.html.twig' %}

{% block body %}
<section id="main" class="aligncenter">
    <div class="row" style="height: 100%;position:relative;">
        <h1>
            Property Construction &amp; Renovation<br/>
            <span>Quality Guaranteed</span>
        </h1>
        <a class="cta">View recent projects</a>
    </div>
</section>

<sectio id="work">
    <div class="row">
        <div class="columns medium-12">
            <img src="{{ asset('images/ss.jpg') }}" />
        </div>
        <div class="columns medium-12">
            <img src="{{ asset('images/ss2.jpeg') }}" />
        </div>
    </div>
</section>
{% endblock %}