{% extends 'base.html.twig' %}

{% block body %}
<section id="work">
    <div class="row">
        <div class="columns medium-11 medium-offset-1">
            <img src="{{ asset('images/ss.jpg') }}" />
        </div>
        <div class="columns medium-11 end">
            <img src="{{ asset('images/ss.jpg') }}" />
        </div>
    </div>
    <div class="row">
        <div class="columns medium-12">
            <img src="{{ asset('images/ss.jpg') }}" />
        </div>
        <div class="columns medium-12">
            <img src="{{ asset('images/ss.jpg') }}" />
        </div>
    </div>
</section>
{% endblock %}