{% extends 'base.html.twig' %}

{% block title %}Complete barn house conversion with out houses{% endblock %}

{% block body %}
<section id="project">
    <div class="row">
        <div class="columns medium-12 medium-offset-1">
            <img class="slide-left transition" src="{{ asset('images/ss3.jpg') }}" />
        </div>
        <div class="columns medium-10">
            <h1 class="nomargintop art_direct slide-right transition">Farm house new build with traditional features &amp; exposed beams</h1>
            <hr class="hr-two slide-opacity transition"/>
            <p class="intro slide-right transition delay">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed sollicitudin efficitur pellentesque. Etiam semper felis convallis nisi posuere venenatis.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-18 medium-offset-2 slide-right transition delay-two">
            <p class="small-margin-top">Pellentesque nisi lorem, consequat in laoreet id, facilisis non eros. Phasellus eget sapien sed ligula commodo auctor. Vestibulum sed rutrum enim, eu vestibulum ante. Duis nibh nibh, condimentum eget dolor vitae, bibendum volutpat sapien. Integer quis facilisis ipsum, vel sagittis dolor. Fusce a magna rutrum, aliquam libero bibendum, blandit purus. Donec finibus ac mauris vel lobortis. Etiam urna purus, congue eget justo sit amet, pellentesque lacinia nisi. Maecenas viverra nunc vel ligula euismod tristique a id nisi. Duis interdum urna sit amet dignissim pretium. Fusce ultricies scelerisque est, sit amet dignissim tortor blandit blandit. In eros nisi, rutrum eu mattis quis, volutpat sit amet diam. Aliquam pulvina</p>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-22 medium-offset-1">
            <div class="slider">
                <div><img src="http://via.placeholder.com/700x450" /></div>
                <div><img src="http://via.placeholder.com/700x450" /></div>
                <div><img src="http://via.placeholder.com/700x450" /></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}