body {
  background: black;
}

nav {
  padding: 20px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  position: relative;
  z-index: 2;
}

.logo {
  .amp {
    font-family: "adobe-caslon-pro",serif;
    font-style: italic;
    font-weight: 400;
  }
  // background: white;
  // color: black;
  // padding: 0 5px;
  // -webkit-border-radius: 4px;
  // -moz-border-radius: 4px;
  // border-radius: 4px;
  transition: opacity .2s linear;
  font-size: 25px;
  font-family: "henriette",sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 20px 0;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}

.cta {
  border: solid 2px white;
  padding: 2px 6px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-family: $base-font-family;
  background: transparent;
  letter-spacing: 0.2em;
  transition: all .2s linear;
  text-transform: uppercase;
  &:hover {
    background: white;
    color: black;
  }
}

.contact-but {
  overflow: hidden;
  text-indent: -9999px;
  width: 50px;
  height: 60px;
  background: white;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: 0;
}

#main {
  padding: 0 10px;
  background-image: url('../images/bg.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -65px;
  z-index: 1;
  h1 {
    margin: 70px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    span {
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
      letter-spacing: 0.4em;
      font-weight: 200;
      text-transform: uppercase;
    }
  }
  .cta {
    position: relative;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 65px;
  }
}

#work {
  position: relative;
  top: -4 0px;
}