{% extends 'base.html.twig' %}
{% block body %}

<section class="aligncenter row">
    <div class="columns small-offset-6 small-12">
        <h2>CMS Login</h2>

        {% trans_default_domain 'FOSUserBundle' %}

        {% if error %}
            <div style="background:white;color: red; border: solid 1px red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">

            {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username"/>

            <label for="password">Password</label>
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />

            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
            {#<label for="remember_me">Remember me</label>#}
            <br/>
            <input type="submit" id="_submit" name="_submit" value="Login" />
        </form>
    </div>
</section>
{% endblock %}